$greenBackgroundColor:#024916;
$whiteColor: white;

.acc-add-btn{
    padding: 10px!important;
    background-color: $greenBackgroundColor!important;
    margin-right: 0px!important;
}

.acc-header{
    font-size: 32px;
    color: $whiteColor;
}

.first-col{
    margin-top: 60px!important;
    display: flex!important;
}
.second-col{
    margin-top: 60px!important;
    padding-right: 0px!important;
    text-align: right;
}

.no-data{
    margin-top: 150px!important;
    font-size: 32px;
    color:grey;
}

.acc-card{
    width: 45%!important;
    margin-top: 100px!important;
    margin-right: 60px!important;
    text-decoration: none!important;
    background-color: $greenBackgroundColor!important;
    padding: 10px!important;
    transition: background-color 0.3s ease!important;
    &:hover { 
        background-color: #02732c!important;
        cursor:pointer;
    }
}

.acc-card-header{
    color: $whiteColor!important;
    border-bottom: 0!important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    
}

.acc-link{
    text-decoration: none!important;
}

.btn-div{
    position: absolute;
    right: 5%;
    top: 10%;
}

.card-header-btn{
    padding: 5px 15px!important;
    
}
.accBtn{
    margin-bottom: 20px!important;
    padding: 5px 30px!important;
    background-color: $greenBackgroundColor!important;
    color: white!important;
}